<a href="https://colab.research.google.com/github/sasuraibito1125/google_colab/blob/main/F%E5%88%86%E5%B8%83%E8%A1%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 関数定義

In [ ]:
#@title #### F分布表生成関数 { vertical-output: true, display-mode: "form" }
#@markdown 関数名：`generate_fd_table`
#@markdown * 引数：`alpha`, `v1=None`, `v2=None`, `precision=4`
#@markdown * 戻り値：`DataFrame`
def generate_fd_table(alpha, v1=None, v2=None, precision=4):
  '''To generate the table of F distribution.

  Parameters
  ----------
  alpha: point of upper.
  v1: list of first degrees of freedom. if not defined, values are 1 to 30 and 40 to 100 per 10 steps
  v2: list of second degrees of freedom. if not defined, values are 1 to 30 and 40 to 100 per 10 steps
  precision: precision of the value of probability. default 4.

  Returns
  -------
  DataFrame
    table of F distribution
  '''
  import numpy as np
  import pandas as pd
  from scipy.stats import f

  def generate_default_v():
    v_a = np.arange(1, 31, dtype=int)
    v_b = np.linspace(40, 100, 7, dtype=int)
    return np.concatenate((v_a, v_b))

  def ensure_v(v):
    return np.array(v) if v else generate_default_v()

  v1 = ensure_v(v1)
  v2 = ensure_v(v2).reshape(-1, 1)

  df = pd.DataFrame(f.isf(alpha, v1, v2),
                    columns=list(map(lambda x: "%d" % x, v1)),
                    index=list(map(lambda x: "%d" % x, v2)))
  df.index.name = 'v2↓v1→'
  return df.round(precision)

In [ ]:
#@title #### 表の行と列を強調する関数
#@markdown 関数名：`highlight_subject`
#@markdown * 引数：`df`, `row=None`, `col=None`, `row_color='#FFD0FF'`, `col_color='#D1FDFF'`, `cross_color='#C7B5FF'`
#@markdown * 戻り値：`Styler`
def highlight_subject(df, row=None, col=None,
                      row_color='#FFD0FF',
                      col_color='#D1FDFF',
                      cross_color='#C7B5FF'):
  '''highlight row, column and cross point of DataFrame.

  Parameters
  ----------
  df: a target pandas DataFrame to be highlighted
  row: a target row to be highlighted
  col: a target column to be highlighted
  row_color: a highlight color of row
  col_color: a highlight color of column
  cross_color: a highlight color of cross point of highligh row and column

  Returns
  -------
  Styler
    pandas Styler object to be highlighted
  '''
  import pandas as pd

  idx = pd.IndexSlice
  styler = df.style
  if row:
    styler = styler.set_properties(**{'color':'black', 'background-color': row_color},
                                   subset=idx[idx[row], :])
  if col:
    styler = styler.set_properties(**{'color':'black', 'background-color': col_color},
                                   subset=idx[col])
  if col and row:
    styler = styler.set_properties(**{'color':'black', 'background-color': cross_color},
                                   subset=idx[idx[row], idx[col]])
  return styler

In [ ]:
#@title #### F分布表から指定された自由度の $F$ 値を取得する関数
#@markdown 関数名：`find_f_in_fd_table`
#@markdown * 引数：`fd`, `v1`, `v2`
#@markdown * 戻り値：`float`
def find_f_in_fd_table(fd, v1, v2):
  '''Find F-value from degrees of freedom in F distribution table.

  Parameters
  ----------
  fd: pandas DataFrame of F distribution table.
  v1: first degrees of freedom.
  v2: second degrees of freedom.

  Returns
  -------
  float
    F-value(float)

  '''
  return fd.at[f'{v2:d}', f'{v1:d}']

# 利用例

In [ ]:
# @title #### 利用例：`generate_fd_table` { run: "auto", display-mode: "both" }
# @markdown F分布表の表示（抜粋）
# @markdown
# @markdown 上側$\alpha\%$点を指定
alpha = 0.05 #@param {type:"number"}
fd = generate_fd_table(alpha)
fd.iloc[:15, :10]

,1,2,3,4,5,6,7,8,9,10
v2↓v1→,,,,,,,,,,
1,161.4476,199.5000,215.7073,224.5832,230.1619,233.9860,236.7684,238.8827,240.5433,241.8817
2,18.5128,19.0000,19.1643,19.2468,19.2964,19.3295,19.3532,19.3710,19.3848,19.3959
3,10.1280,9.5521,9.2766,9.1172,9.0135,8.9406,8.8867,8.8452,8.8123,8.7855
4,7.7086,6.9443,6.5914,6.3882,6.2561,6.1631,6.0942,6.0410,5.9988,5.9644
5,6.6079,5.7861,5.4095,5.1922,5.0503,4.9503,4.8759,4.8183,4.7725,4.7351
6,5.9874,5.1433,4.7571,4.5337,4.3874,4.2839,4.2067,4.1468,4.0990,4.0600
7,5.5914,4.7374,4.3468,4.1203,3.9715,3.8660,3.7870,3.7257,3.6767,3.6365
8,5.3177,4.4590,4.0662,3.8379,3.6875,3.5806,3.5005,3.4381,3.3881,3.3472
9,5.1174,4.2565,3.8625,3.6331,3.4817,3.3738,3.2927,3.2296,3.1789,3.1373
10,4.9646,4.1028,3.7083,3.4780,3.3258,3.2172,3.1355,3.0717,3.0204,2.9782
11,4.8443,3.9823,3.5874,3.3567,3.2039,3.0946,3.0123,2.9480,2.8962,2.8536
12,4.7472,3.8853,3.4903,3.2592,3.1059,2.9961,2.9134,2.8486,2.7964,2.7534
13,4.6672,3.8056,3.4105,3.1791,3.0254,2.9153,2.8321,2.7669,2.7144,2.6710
14,4.6001,3.7389,3.3439,3.1122,2.9582,2.8477,2.7642,2.6987,2.6458,2.6022
15,4.5431,3.6823,3.2874,3.0556,2.9013,2.7905,2.7066,2.6408,2.5876,2.5437

In [ ]:
# @title #### 利用例：`generate_fd_table` { run: "auto", display-mode: "both" }
# @markdown F分布表の表示（上側$\alpha\%$点および自由度$v_1, v_2$を指定）
# @markdown
# @markdown $\alpha$ と自由度
alpha = 0.05 #@param {type:"number"}
v1 = [1, 2, 3, 4, 5, 6, 7] #@param {type:"raw"}
v2 = [1, 2, 3, 4, 5, 10, 15, 20, 50, 100] #@param {type:"raw"}

generate_fd_table(alpha=alpha, v1=v1, v2=v2)

               1         2         3         4         5         6         7
v2↓v1→
1       161.4476  199.5000  215.7073  224.5832  230.1619  233.9860  236.7684
2        18.5128   19.0000   19.1643   19.2468   19.2964   19.3295   19.3532
3        10.1280    9.5521    9.2766    9.1172    9.0135    8.9406    8.8867
4         7.7086    6.9443    6.5914    6.3882    6.2561    6.1631    6.0942
5         6.6079    5.7861    5.4095    5.1922    5.0503    4.9503    4.8759
10        4.9646    4.1028    3.7083    3.4780    3.3258    3.2172    3.1355
15        4.5431    3.6823    3.2874    3.0556    2.9013    2.7905    2.7066
20        4.3512    3.4928    3.0984    2.8661    2.7109    2.5990    2.5140
50        4.0343    3.1826    2.7900    2.5572    2.4004    2.2864    2.1992
100       3.9361    3.0873    2.6955    2.4626    2.3053    2.1906    2.1025

In [ ]:
# @title #### 利用例：`highlight_subject` { run: "auto", display-mode: "both" }
# @markdown F分布表の指定された自由度の $F$ 値を強調表示
# @markdown
# @markdown 自由度
v1 = 5 #@param {type:"integer"}
v2 = 10 #@param {type:"integer"}
highlight_subject(fd.head(15).iloc[:, :10], f'{v2:d}', f'{v1:d}')

In [ ]:
# @title 利用例：`find_f_in_fd_table` { run: "auto", vertical-output: true, display-mode: "both" }
# @markdown 自由度を指定して $F$ 値を計算
# @markdown
# @markdown 自由度
v1 = 5 #@param {type:"integer"}
v2 = 10 #@param {type:"integer"}
find_f_in_fd_table(fd, v1, v2)

3.3258

In [ ]:
# @title #### 利用例：`generate_fd_table`、`find_f_in_fd_table` { run: "auto", vertical-output: true, display-mode: "both" }
# @markdown $\alpha$ と自由度を指定して $F$ 値を計算
# @markdown
# @markdown $\alpha$ と自由度
alpha = 0.025 # @param {type:"number"}
v1 = 5 # @param {type:"integer"}
v2 = 3 # @param {type:"integer"}
find_f_in_fd_table(generate_fd_table(alpha), v1, v2)

14.8848