<a href="https://colab.research.google.com/github/sasuraibito1125/google_colab/blob/main/%CF%872%E5%88%86%E5%B8%83%E8%A1%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 関数定義

In [ ]:
#@title #### 信頼係数から $\alpha$ に変換する関数
#@markdown 関数名：`cf2alphas`
#@markdown * 引数：`cf`
#@markdown * 戻り値：`tuple<float, float>`
#@markdown
#@markdown * upper: $\dfrac{100 - CF}{200}$
#@markdown * lower: $\dfrac{100 + CF}{200}$
def cf2alpha(cf):
  '''Convert confidence factor to alpha value.

  Parameters
  ----------
  cf: confidence factor

  Returns
  -------
  float
    uppler and lower values of alpha
  '''
  alpha = (100 - cf) / 200
  return 1 - alpha, alpha

In [ ]:
#@title #### $\chi^2$ 分布表生成関数（％点） { vertical-output: true, display-mode: "form" }
#@markdown 関数名：`generate_chi2d_table_pp`
#@markdown * 引数：`both=False`, `alpha=None`, `v=None`, `precision=4`
#@markdown * 戻り値：`DataFrame`
#@markdown * 依存関数：`cf2alpha`
def generate_chi2d_table_pp(both=False, alpha=None, v=None, precision=4):
  '''To generate the table of chi-square distribution of percent points.

  Parameters
  ----------
  both: flag to specify one-sided or both-sided. default False(both-sided).
  alpha: list of points of upper. if not defined, values are [0.99, 0.975, 0.95, 0.90, 0.75, 0.50, 0.25, 0.10, 0.05, 0.025, 0.01, 0.005] as default
  v: list of degrees of freedom. if not defined, values are 1 to 30 and 40 to 100 per 10 steps as default
  precision: precision of the value of probability. default 4.

  Returns
  -------
  DataFrame
    table of chi-square distribution of percent points.
  '''
  import numpy as np
  import pandas as pd
  from scipy.stats import chi2

  def generate_default_alpha():
    cf_list = [70, 80, 90, 95, 98, 99]
    return sorted(list(set([a for pair in [cf2alpha(cf) for cf in cf_list] for a in pair])), reverse=True)

  def generate_default_v():
    v1 = np.arange(1, 31, dtype=int)
    v2 = np.linspace(40, 100, 7, dtype=int)
    return np.concatenate((v1, v2)).reshape(-1, 1)

  if not alpha:
    alpha = generate_default_alpha()
  alpha = np.array(alpha)

  if not v:
    v = generate_default_v()
  else:
    v = np.array(v)
    if v.ndim == 1:
      v = v.reshape(-1, 1)
    elif v.ndim == 2 and v.shape[1] == 1:
      pass
    else:
      print('不正な自由度のリストが指定されました。デフォルト値を使用します。')
      v = generate_default_v()

  df = pd.DataFrame(chi2.ppf(alpha, v),
                    columns=list(map(lambda x: "%.3f" % x, alpha)),
                    index=list(map(lambda x: "%d" % x, v)))
  df.index.name = 'ν'
  return (df * (2 if both else 1)).round(precision)

In [ ]:
#@title #### $\chi^2$ 分布表生成関数（逆生存） { vertical-output: true, display-mode: "form" }
#@markdown 関数名：`generate_chi2d_table_is`
#@markdown * 引数：`both=False`, `alpha=None`, `v=None`, `precision=4`
#@markdown * 戻り値：`DataFrame`
#@markdown * 依存関数：`cf2alpha`
def generate_chi2d_table_is(both=False, alpha=None, v=None, precision=4):
  '''To generate the table of chi-square distribution of inverse survival.

  Parameters
  ----------
  both: flag to specify one-sided or both-sided. default False(both-sided).
  alpha: list of points of upper. if not defined, values are [0.99, 0.975, 0.95, 0.90, 0.75, 0.50, 0.25, 0.10, 0.05, 0.025, 0.01, 0.005] as default
  v: list of degrees of freedom. if not defined, values are 1 to 30 and 40 to 100 per 10 steps as default
  precision: precision of the value of probability. default 4.

  Returns
  -------
  DataFrame
    table of chi-square distribution of inverse survival.
  '''
  import numpy as np
  import pandas as pd
  from scipy.stats import chi2

  def generate_default_alpha():
    cf_list = [70, 80, 90, 95, 98, 99]
    return sorted(list(set([a for pair in [cf2alpha(cf) for cf in cf_list] for a in pair])), reverse=True)

  def generate_default_v():
    v1 = np.arange(1, 31, dtype=int)
    v2 = np.linspace(40, 100, 7, dtype=int)
    return np.concatenate((v1, v2)).reshape(-1, 1)

  if not alpha:
    alpha = generate_default_alpha()
  alpha = np.array(alpha)

  if not v:
    v = generate_default_v()
  else:
    v = np.array(v)
    if v.ndim == 1:
      v = v.reshape(-1, 1)
    elif v.ndim == 2 and v.shape[1] == 1:
      pass
    else:
      print('不正な自由度のリストが指定されました。デフォルト値を使用します。')
      v = generate_default_v()

  df = pd.DataFrame(chi2.isf(alpha, v),
                    columns=list(map(lambda x: "%.3f" % x, alpha)),
                    index=list(map(lambda x: "%d" % x, v)))
  df.index.name = 'ν'
  return (df * (2 if both else 1)).round(precision)

In [ ]:
#@title #### 表の行と列を強調する関数
#@markdown 関数名：`highlight_subject`
#@markdown * 引数：`df`, `row=None`, `col=None`, `row_color='#FFD0FF'`, `col_color='#D1FDFF'`, `cross_color='#C7B5FF'`
#@markdown * 戻り値：`Styler`
def highlight_subject(df, row=None, col=None,
                      row_color='#FFD0FF',
                      col_color='#D1FDFF',
                      cross_color='#C7B5FF'):
  '''highlight row, column and cross point of DataFrame.

  Parameters
  ----------
  df: a target pandas DataFrame to be highlighted
  row: a target row to be highlighted
  col: a target column to be highlighted
  row_color: a highlight color of row
  col_color: a highlight color of column
  cross_color: a highlight color of cross point of highligh row and column

  Returns
  -------
  Styler
    pandas Styler object to be highlighted
  '''
  import pandas as pd

  idx = pd.IndexSlice
  styler = df.style
  if row:
    styler = styler.set_properties(**{'color':'black', 'background-color': row_color},
                                   subset=idx[idx[row], :])
  if col:
    styler = styler.set_properties(**{'color':'black', 'background-color': col_color},
                                   subset=idx[col])
  if col and row:
    styler = styler.set_properties(**{'color':'black', 'background-color': cross_color},
                                   subset=idx[idx[row], idx[col]])
  return styler

In [ ]:
# @title #### $\chi^2$ 分布表から指定された自由度 $\nu$ と $\alpha$ で $\chi^2_{\alpha_{upper}}(\nu), \chi^2_{\alpha_{lower}}(\nu)$ を取得する関数 { vertical-output: true, display-mode: "form" }
#@markdown 関数名：`find_chi2_in_chi2d_table`
#@markdown * 引数：`td`, `nu`, `upper`, `lower=None`, `both=False`
#@markdown * 戻り値：`float`
def find_chi2_in_chi2d_table(c2d, nu, upper, lower=None, both=False):
  '''Find chi-square value from degrees of freedom and alpha in chi-square distribution table.

  Parameters
  ----------
  c2d: pandas DataFrame of chi-square distribution table.
  nu: degrees of freedom.
  uppler: upper n-parcent point.
  lower: lower n-parcent point. the value is computed to (1 - upper) if not defined.
  both: if true, values of upper and lower n-parcent points are finding.

  Returns
  -------
  tuple
    chi-square value(float) of upper and lower points. if both is False, lower is None.

  '''
  return c2d.at[f'{nu:d}', f'{upper:.3f}'], \
         c2d.at[f'{nu:d}', f'{lower if lower else (1 - upper):.3f}'] if both else None

In [ ]:
# @title #### 母分散の信頼区間の計算 { vertical-output: true, display-mode: "form" }
#@markdown 関数名：`calc_conf_interval_of_pv`
#@markdown * 引数：`n`, `s2`, `cf=95`, `precision=2`,`c2d=generate_chi2d_table_pp()`
#@markdown * 戻り値： `tuple<float, float, float, float>`
#@markdown * 依存関数：`generate_chi2d_table_pp`, `find_chi2_in_chi2d_table`
def calc_conf_interval_of_pv(n, s2, cf=95, precision=5, c2d=generate_chi2d_table_pp()):
  '''Calculate confidence interval of population variance.

  Parameters
  ----------
  n: sample size.
  s2: unbiased estimate of variance.
  cf: confidnece factor. default is 95.
  c2d: pandas DataFrame of chi-square distribution table. default value is
    result of generate_chi2d_table_pp function.

  Returns
  -------
  tuple
    lower bound, upper bound, and alpha value.
  '''
  upper, lower = find_chi2_in_chi2d_table(c2d, n - 1, *cf2alpha(cf), both=True)
  numerator = (n - 1) * s2
  return round(numerator / upper, precision), round(numerator / lower, precision), upper, lower

In [ ]:
# @title #### 適合度の統計量 $\chi^2$ の計算 { vertical-output: true, display-mode: "form" }
#@markdown 関数名：`calc_chi2_goodness`
#@markdown * 引数：`df`, `row_theoretical='理論値'`, `row_actual='実測値'`, `precision=4`
#@markdown * 戻り値： `tuple<float, float, float, float>`
#@markdown * 依存関数：`generate_chi2d_table_pp`, `find_t_in_chi2d_table`
def calc_chi2_goodness(df, row_theoretical='理論値', row_actual='実測値', precision=4):
  '''Calculate chi-square value of goodness of fit.

  Parameters
  ----------
  df: DataFrame of values to test with only target values. (No totals, no percentage, and so on)
  row_theoretical: row name of theoretical value. Default value is '理論値'.
  row_actual: row name of actual value. Default value is '実測値'.
  precision: precision of result value. Default value is 4.

  Returns
  -------
  float
    chi-square value of goodness of fit.
  '''
  column_name = 'ズレ'
  df_T = df.T
  df_T[column_name] = (df_T[row_actual] - df_T[row_theoretical]) ** 2 / df_T[row_theoretical]
  return round(df_T[column_name].sum(), precision)

In [ ]:
# @title #### 独立性の統計量 $\chi^2$ の計算 { vertical-output: true, display-mode: "form" }
#@markdown 関数名：`calc_chi2_independence`
#@markdown * 引数：`df_theoretical`, `df_actual`, `precision=3`
#@markdown * 戻り値： `tuple<float, float, float, float>`
#@markdown * 依存関数：`generate_chi2d_table_pp`, `find_t_in_chi2d_table`
def calc_chi2_independence(df_theoretical, df_actual, precision=3):
  '''Calculate chi-square value of independence.

  Parameters
  ----------
  df_theoretical: DataFrame of theoretical value to test with only target values. (No totals, no percentage, and so on)
  df_actual: DataFrame of actual value to test with only target values. (No totals, no percentage, and so on)
  precision: precision of result value. Default value is 3.

  Returns
  -------
  float
    chi-square value of independence.
  '''
  df = (df_actual - df_theoretical) ** 2 / df_theoretical
  return df.sum().sum().round(precision)

# 利用例

In [ ]:
# @title #### 利用例：`generate_chi2d_table_pp` { display-mode: "both" }
# @markdown $\chi^2$ 分布表（％点）の表示
c2d = generate_chi2d_table_pp()
c2d

,0.995,0.990,0.975,0.950,0.900,0.850,0.150,0.100,0.050,0.025,0.010,0.005
ν,,,,,,,,,,,,
1,7.8794,6.6349,5.0239,3.8415,2.7055,2.0723,0.0358,0.0158,0.0039,0.0010,0.0002,0.0000
2,10.5966,9.2103,7.3778,5.9915,4.6052,3.7942,0.3250,0.2107,0.1026,0.0506,0.0201,0.0100
3,12.8382,11.3449,9.3484,7.8147,6.2514,5.3170,0.7978,0.5844,0.3518,0.2158,0.1148,0.0717
4,14.8603,13.2767,11.1433,9.4877,7.7794,6.7449,1.3665,1.0636,0.7107,0.4844,0.2971,0.2070
5,16.7496,15.0863,12.8325,11.0705,9.2364,8.1152,1.9938,1.6103,1.1455,0.8312,0.5543,0.4117
6,18.5476,16.8119,14.4494,12.5916,10.6446,9.4461,2.6613,2.2041,1.6354,1.2373,0.8721,0.6757
7,20.2777,18.4753,16.0128,14.0671,12.0170,10.7479,3.3583,2.8331,2.1673,1.6899,1.2390,0.9893
8,21.9550,20.0902,17.5345,15.5073,13.3616,12.0271,4.0782,3.4895,2.7326,2.1797,1.6465,1.3444
9,23.5894,21.6660,19.0228,16.9190,14.6837,13.2880,4.8165,4.1682,3.3251,2.7004,2.0879,1.7349
10,25.1882,23.2093,20.4832,18.3070,15.9872,14.5339,5.5701,4.8652,3.9403,3.2470,2.5582,2.1559
11,26.7568,24.7250,21.9200,19.6751,17.2750,15.7671,6.3364,5.5778,4.5748,3.8157,3.0535,2.6032
12,28.2995,26.2170,23.3367,21.0261,18.5493,16.9893,7.1138,6.3038,5.2260,4.4038,3.5706,3.0738
13,29.8195,27.6882,24.7356,22.3620,19.8119,18.2020,7.9008,7.0415,5.8919,5.0088,4.1069,3.5650
14,31.3193,29.1412,26.1189,23.6848,21.0641,19.4062,8.6963,7.7895,6.5706,5.6287,4.6604,4.0747
15,32.8013,30.5779,27.4884,24.9958,22.3071,20.6030,9.4993,8.5468,7.2609,6.2621,5.2293,4.6009
16,34.2672,31.9999,28.8454,26.2962,23.5418,21.7931,10.3090,9.3122,7.9616,6.9077,5.8122,5.1422
17,35.7185,33.4087,30.1910,27.5871,24.7690,22.9770,11.1249,10.0852,8.6718,7.5642,6.4078,5.6972
18,37.1565,34.8053,31.5264,28.8693,25.9894,24.1555,11.9463,10.8649,9.3905,8.2307,7.0149,6.2648
19,38.5823,36.1909,32.8523,30.1435,27.2036,25.3289,12.7727,11.6509,10.1170,8.9065,7.6327,6.8440
20,39.9968,37.5662,34.1696,31.4104,28.4120,26.4976,13.6039,12.4426,10.8508,9.5908,8.2604,7.4338
21,41.4011,38.9322,35.4789,32.6706,29.6151,27.6620,14.4393,13.2396,11.5913,10.2829,8.8972,8.0337
22,42.7957,40.2894,36.7807,33.9244,30.8133,28.8225,15.2788,14.0415,12.3380,10.9823,9.5425,8.6427
23,44.1813,41.6384,38.0756,35.1725,32.0069,29.9792,16.1219,14.8480,13.0905,11.6886,10.1957,9.2604
24,45.5585,42.9798,39.3641,36.4150,33.1962,31.1325,16.9686,15.6587,13.8484,12.4012,10.8564,9.8862
25,46.9279,44.3141,40.6465,37.6525,34.3816,32.2825,17.8184,16.4734,14.6114,13.1197,11.5240,10.5197
26,48.2899,45.6417,41.9232,38.8851,35.5632,33.4295,18.6714,17.2919,15.3792,13.8439,12.1981,11.1602
27,49.6449,46.9629,43.1945,40.1133,36.7412,34.5736,19.5272,18.1139,16.1514,14.5734,12.8785,11.8076
28,50.9934,48.2782,44.4608,41.3371,37.9159,35.7150,20.3857,18.9392,16.9279,15.3079,13.5647,12.4613
29,52.3356,49.5879,45.7223,42.5570,39.0875,36.8538,21.2468,19.7677,17.7084,16.0471,14.2565,13.1211
30,53.6720,50.8922,46.9792,43.7730,40.2560,37.9903,22.1103,20.5992,18.4927,16.7908,14.9535,13.7867
40,66.7660,63.6907,59.3417,55.7585,51.8051,49.2439,30.8563,29.0505,26.5093,24.4330,22.1643,20.7065
50,79.4900,76.1539,71.4202,67.5048,63.1671,60.3460,39.7539,37.6886,34.7643,32.3574,29.7067,27.9907
60,91.9517,88.3794,83.2977,79.0819,74.3970,71.3411,48.7587,46.4589,43.1880,40.4817,37.4849,35.5345
70,104.2149,100.4252,95.0232,90.5312,85.5270,82.2554,57.8443,55.3289,51.7393,48.7576,45.4417,43.2752
80,116.3211,112.3288,106.6286,101.8795,96.5782,93.1058,66.9938,64.2778,60.3915,57.1532,53.5401,51.1719
90,128.2989,124.1163,118.1359,113.1453,107.5650,103.9041,76.1954,73.2911,69.1260,65.6466,61.7541,59.1963
100,140.1695,135.8067,129.5612,124.3421,118.4980,114.6588,85.4406,82.3581,77.9295,74.2219,70.0649,67.3276

In [ ]:
# @title #### 利用例：`generate_chi2d_table_pp` { run: "auto", display-mode: "both" }
# @markdown $\chi^2$ 分布表（％点）の表示（上側$\alpha\%$点および自由度$\nu$を指定）
# @markdown
# @markdown $\alpha$ と自由度のリスト
alpha = [0.25, 0.1, 0.05, 0.025, 0.001] #@param {type:"raw"}
v = [1, 2, 3, 4, 5, 10, 11, 12, 14, 15, 20, 30, 40, 50, 100, 150, 200] #@param {type:"raw"}
generate_chi2d_table_pp(alpha=alpha, v=v)

        0.250     0.100     0.050     0.025     0.001
ν
1      0.1015    0.0158    0.0039    0.0010    0.0000
2      0.5754    0.2107    0.1026    0.0506    0.0020
3      1.2125    0.5844    0.3518    0.2158    0.0243
4      1.9226    1.0636    0.7107    0.4844    0.0908
5      2.6746    1.6103    1.1455    0.8312    0.2102
10     6.7372    4.8652    3.9403    3.2470    1.4787
11     7.5841    5.5778    4.5748    3.8157    1.8339
12     8.4384    6.3038    5.2260    4.4038    2.2142
14    10.1653    7.7895    6.5706    5.6287    3.0407
15    11.0365    8.5468    7.2609    6.2621    3.4827
20    15.4518   12.4426   10.8508    9.5908    5.9210
30    24.4776   20.5992   18.4927   16.7908   11.5880
40    33.6603   29.0505   26.5093   24.4330   17.9164
50    42.9421   37.6886   34.7643   32.3574   24.6739
100   90.1332   82.3581   77.9295   74.2219   61.9179
150  137.9829  128.2751  122.6918  117.9845  102.1133
200  186.1717  174.8353  168.2786  162.7280  143.8428

In [ ]:
# @title #### 利用例：`generate_chi2d_table_is` { display-mode: "both" }
# @markdown $\chi^2$ 分布表（逆生存）の表示
generate_chi2d_table_is()

,0.995,0.990,0.975,0.950,0.900,0.850,0.150,0.100,0.050,0.025,0.010,0.005
ν,,,,,,,,,,,,
1,0.0000,0.0002,0.0010,0.0039,0.0158,0.0358,2.0723,2.7055,3.8415,5.0239,6.6349,7.8794
2,0.0100,0.0201,0.0506,0.1026,0.2107,0.3250,3.7942,4.6052,5.9915,7.3778,9.2103,10.5966
3,0.0717,0.1148,0.2158,0.3518,0.5844,0.7978,5.3170,6.2514,7.8147,9.3484,11.3449,12.8382
4,0.2070,0.2971,0.4844,0.7107,1.0636,1.3665,6.7449,7.7794,9.4877,11.1433,13.2767,14.8603
5,0.4117,0.5543,0.8312,1.1455,1.6103,1.9938,8.1152,9.2364,11.0705,12.8325,15.0863,16.7496
6,0.6757,0.8721,1.2373,1.6354,2.2041,2.6613,9.4461,10.6446,12.5916,14.4494,16.8119,18.5476
7,0.9893,1.2390,1.6899,2.1673,2.8331,3.3583,10.7479,12.0170,14.0671,16.0128,18.4753,20.2777
8,1.3444,1.6465,2.1797,2.7326,3.4895,4.0782,12.0271,13.3616,15.5073,17.5345,20.0902,21.9550
9,1.7349,2.0879,2.7004,3.3251,4.1682,4.8165,13.2880,14.6837,16.9190,19.0228,21.6660,23.5894
10,2.1559,2.5582,3.2470,3.9403,4.8652,5.5701,14.5339,15.9872,18.3070,20.4832,23.2093,25.1882
11,2.6032,3.0535,3.8157,4.5748,5.5778,6.3364,15.7671,17.2750,19.6751,21.9200,24.7250,26.7568
12,3.0738,3.5706,4.4038,5.2260,6.3038,7.1138,16.9893,18.5493,21.0261,23.3367,26.2170,28.2995
13,3.5650,4.1069,5.0088,5.8919,7.0415,7.9008,18.2020,19.8119,22.3620,24.7356,27.6882,29.8195
14,4.0747,4.6604,5.6287,6.5706,7.7895,8.6963,19.4062,21.0641,23.6848,26.1189,29.1412,31.3193
15,4.6009,5.2293,6.2621,7.2609,8.5468,9.4993,20.6030,22.3071,24.9958,27.4884,30.5779,32.8013
16,5.1422,5.8122,6.9077,7.9616,9.3122,10.3090,21.7931,23.5418,26.2962,28.8454,31.9999,34.2672
17,5.6972,6.4078,7.5642,8.6718,10.0852,11.1249,22.9770,24.7690,27.5871,30.1910,33.4087,35.7185
18,6.2648,7.0149,8.2307,9.3905,10.8649,11.9463,24.1555,25.9894,28.8693,31.5264,34.8053,37.1565
19,6.8440,7.6327,8.9065,10.1170,11.6509,12.7727,25.3289,27.2036,30.1435,32.8523,36.1909,38.5823
20,7.4338,8.2604,9.5908,10.8508,12.4426,13.6039,26.4976,28.4120,31.4104,34.1696,37.5662,39.9968
21,8.0337,8.8972,10.2829,11.5913,13.2396,14.4393,27.6620,29.6151,32.6706,35.4789,38.9322,41.4011
22,8.6427,9.5425,10.9823,12.3380,14.0415,15.2788,28.8225,30.8133,33.9244,36.7807,40.2894,42.7957
23,9.2604,10.1957,11.6886,13.0905,14.8480,16.1219,29.9792,32.0069,35.1725,38.0756,41.6384,44.1813
24,9.8862,10.8564,12.4012,13.8484,15.6587,16.9686,31.1325,33.1962,36.4150,39.3641,42.9798,45.5585
25,10.5197,11.5240,13.1197,14.6114,16.4734,17.8184,32.2825,34.3816,37.6525,40.6465,44.3141,46.9279
26,11.1602,12.1981,13.8439,15.3792,17.2919,18.6714,33.4295,35.5632,38.8851,41.9232,45.6417,48.2899
27,11.8076,12.8785,14.5734,16.1514,18.1139,19.5272,34.5736,36.7412,40.1133,43.1945,46.9629,49.6449
28,12.4613,13.5647,15.3079,16.9279,18.9392,20.3857,35.7150,37.9159,41.3371,44.4608,48.2782,50.9934
29,13.1211,14.2565,16.0471,17.7084,19.7677,21.2468,36.8538,39.0875,42.5570,45.7223,49.5879,52.3356
30,13.7867,14.9535,16.7908,18.4927,20.5992,22.1103,37.9903,40.2560,43.7730,46.9792,50.8922,53.6720
40,20.7065,22.1643,24.4330,26.5093,29.0505,30.8563,49.2439,51.8051,55.7585,59.3417,63.6907,66.7660
50,27.9907,29.7067,32.3574,34.7643,37.6886,39.7539,60.3460,63.1671,67.5048,71.4202,76.1539,79.4900
60,35.5345,37.4849,40.4817,43.1880,46.4589,48.7587,71.3411,74.3970,79.0819,83.2977,88.3794,91.9517
70,43.2752,45.4417,48.7576,51.7393,55.3289,57.8443,82.2554,85.5270,90.5312,95.0232,100.4252,104.2149
80,51.1719,53.5401,57.1532,60.3915,64.2778,66.9938,93.1058,96.5782,101.8795,106.6286,112.3288,116.3211
90,59.1963,61.7541,65.6466,69.1260,73.2911,76.1954,103.9041,107.5650,113.1453,118.1359,124.1163,128.2989
100,67.3276,70.0649,74.2219,77.9295,82.3581,85.4406,114.6588,118.4980,124.3421,129.5612,135.8067,140.1695

In [ ]:
# @title #### 利用例：`highlight_subject` { run: "auto", display-mode: "both" }
# @markdown $\chi^2$ 分布表の指定された自由度と $\alpha$ （上側）を強調表示
v = 9 #@param {type:"integer"}
upper = 0.975 #@param {type:"number"}
highlight_subject(c2d.head(15), f'{v:d}', [f'{upper:.3f}', f'{1-upper:.3f}'])

In [ ]:
# @title #### 利用例：`find_chi2_in_chi2d_table` { run: "auto", vertical-output: true, display-mode: "both" }
# @markdown $\chi^2$ 分布表から指定された自由度と $\alpha$ に対する $\chi^2$ 値を検索
# @markdown
# @markdown 自由度、$\alpha$
nu = 9 #@param {type:"integer"}
upper = 0.025 #@param {type:"number"}
find_chi2_in_chi2d_table(c2d, nu, upper, both=True)

(2.7004, 19.0228)

In [ ]:
# @title #### 利用例：`calc_conf_interval_of_pv` { run: "auto", vertical-output: true, display-mode: "both" }
# @markdown 母分散の信頼区間の計算
# @markdown
# @markdown サンプルサイズ、不偏分散、信頼係数
n = 10 #@param {type:"integer"}
s2 = 6757.3 #@param {type:"number"}
cf = 95 #@param ["90", "95", "99"] {type:"raw", allow-input: true}
ci = calc_conf_interval_of_pv(n, s2, cf)
print('lower:', round(ci[0], 2), ', upper:', round(ci[1], 2),
      ', alpha_upper:', round(ci[2], 2), ', alpha_lower:', round(ci[3], 2))

lower: 3196.99 , upper: 22521.0 , alpha_upper: 19.02 , alpha_lower: 2.7

In [ ]:
# @title #### 利用例：`calc_chi2_goodness` { run: "auto", vertical-output: true, display-mode: "both" }
# @markdown 適合度の統計量 $\chi^2$ の計算
# @markdown
# @markdown |血液型|A型|B型|O型|AB型|
# @markdown |------|---|---|---|----|
# @markdown |理論値|40|30|20|10|
# @markdown |実測値|55|22|16|7|
import pandas as pd
calc_chi2_goodness(pd.DataFrame({
    '血液型': ['実測値', '理論値'],
    'A型': [55, 40],
    'O型': [22, 30],
    'B型': [16, 20],
    'AB型': [7, 10]}).set_index('血液型'))

9.4583

In [ ]:
# @title #### 利用例：`calc_chi2_independence` { run: "auto", vertical-output: true, display-mode: "both" }
# @markdown 独立性の統計量 $\chi^2$ の計算
# @markdown
# @markdown 理論値
# @markdown
# @markdown |血液型|A型|B型|O型|AB型|
# @markdown |------|---|---|---|----|
# @markdown |男性|55|22|16|7|
# @markdown |女性|40|32|24|10|
# @markdown
# @markdown 実測値
# @markdown
# @markdown |血液型|A型|B型|O型|AB型|
# @markdown |------|---|---|---|----|
# @markdown |男性|47.5|27|20|5.5|
# @markdown |女性|47.5|27|20|5.5|
import pandas as pd
df_theoretical = pd.DataFrame({
    '血液型': ['男性', '女性'],
    'A型': [55, 40],
    'O型': [22, 32],
    'B型': [16, 24],
    'AB型': [7, 10]}).set_index('血液型')
df_actual = pd.DataFrame({
    '血液型': ['男性', '女性'],
    'A型': [47.5, 47.5],
    'O型': [27, 27],
    'B型': [20, 20],
    'AB型': [5.5, 5.5]}).set_index('血液型')
calc_chi2_independence(df_theoretical, df_actual)

8.36